<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>Home | サプリアプリ</title>
  </head>
  <body>
    <h1>サプリアプリ</h1>
    <p>
      サプリの口コミ投稿サイトです！
    </p>
  </body>
</html>