<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | サプリアプリ</title>
  </head>
  <body>
    <h1>サプリアプリ</h1>
    <p>
      サプリの口コミ投稿サイトです！
    </p>
    <%= link_to "ユーザー登録", '#', class: "btn btn-lg btn-primary" %>
    <%= link_to "このアプリについて", about_path, class: "btn btn-lg btn-primary" %>
  </body>
</html>