<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>Home | サプリアプリ</title>
  </head>
  <body>
    <%# <div class="center"> %>
      <h1>サプリアプリ</h1>
      <p>
        サプリの口コミ投稿サイトです！
      </p>
      <%= link_to "ユーザー登録", '#', class: "btn btn-lg btn-primary" %>
    <%# </div> %>
  </body>
</html>