<% provide(:title, 'サプリ一覧') %>

<h1>サプリ一覧</h1>
<h2><%= link_to "新規登録", new_supplement_path, class: 'btn btn-success' %></h2>

<%= will_paginate %>
<ul>
  <%= render "supplement" %>
</ul>
<%= will_paginate %>