<% provide(:title, 'サプリ一覧') %>

<div class="sapli_index">
<h1>サプリ一覧</h1>
<h2><%= link_to "新規登録", new_supplement_path, class: 'btn btn-success' %></h2>

<div class="index_paginate"><%= will_paginate %></div>
<ul>
  <%= render "supplement" %>
</ul>
<div class="index_paginate"><%= will_paginate %></div>
</div>