<% provide(:title, @supplement.name ) %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 sapli-back">
     <h1 class="form_title"><%= @supplement.name %></h1>
     <%= image_tag @supplement.img, class: "sapli-img"%>
  </div>
</div>