<li>
  <span>
    <% if user.img.attached? %>
      <%=link_to image_tag(user.display_image, class: "user_img_post"), user %>
    <% else %>
      <%=link_to image_tag("/assets/default.jpg",  class: "user_img_post"), user %>
    <% end %>
  </span>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    　| <%= link_to "delete", user, method: :delete, data: { confirm: "削除しますか？" } %>
  <% end %>
</li>