<% provide(:title, 'ユーザーリスト') %>
<div class="container" style="margin-right: 100px">
  <h1>ユーザーリスト</h1>
 <div class="col-md-10"><%= will_paginate %></div>
  <ul>
    <%= render "user" %>
  </ul>
  <div class="col-md-10"><%= will_paginate %></div>
</div>