<div class="row">
  <% @favorite_supplements.first(3).each do |sapli| %>
    <div class="col-md-4 sapli-back-home">
      <% if sapli.img.attached? %>
        <%=link_to (image_tag sapli.img, size:150), sapli, class: "sapli_img" %><br>
      <% end %>
      <p><%= link_to sapli.name, sapli %></p>
    </div>
  <% end %>
</div>