<h1>
<%= link_to @user.name, user_path(@user) %>
<% if current_user == User.find_by(id: params[:id]) %>
  <span style="font-size: 14px">
  <% if guest_user? %>
    <%= link_to "[編集]（ゲストユーザは編集不可）", "#" %>
    <% else %>
    <%= link_to "[編集]", edit_user_path(@user) %>
  <% end %>
  </span>
<% end %>
</h1>