<h1>
<%= current_user.name %>
<span style="font-size: 14px"><%= link_to "[編集]", edit_user_path(current_user) %></span>
</h1>
<span style="margin-left: 150px"><%= link_to "プロフィールページへ", current_user %></span>