@import "bootstrap-sprockets";
@import "bootstrap";

//mixins, variables, etc. 

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

//universal

body{
  padding-top: 80px;
}

//home

.homebody{
  text-align: center;
  >p{
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.btn-warning{
  margin: 20px
}


// header

#logo {
  float: left;
  margin-right: 10px; 
  font-size: 1.5em;
  color: skyblue;
  padding-top: 9px;
  font-weight: bold;
  // &:hover{
  //   text-decoration: none;
  // }
}

//signup,login

.form_title{
  text-align: center;
  margin-bottom: 15px;
}

// miscellaneous
.debug_dump {
  text-align: left;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 20px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
