@import "bootstrap-sprockets";
@import "bootstrap";

html{
  font-family: 'Helvetica Neue','Helvetica','Arial','Yu Gothic',
               'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',
              'メイリオ','ＭＳ ゴシック', sans-serif;
}

//mixins, variables, etc. 

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

//universal

body{
  padding-top: 60px;
  background-image: image-url('forest-opacity.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

//home

.homebody{
  text-align: center;
  p{
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.btn-warning{
  margin: 20px
}

.ranking{
  h1{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    // margin-left: 40px;
    margin-bottom: 20px;
    // border-top: 1px sollid #e8e8e8;
  }
}

#rank{
  color: rgba(161, 139, 10, 0.514);
  font-weight: bold;
}


// header

#logo {
  float: left;
  margin-right: 10px; 
  font-size: 1.5em;
  color: skyblue;
  padding-top: 9px;
  font-weight: bold;
  // &:hover{
  //   text-decoration: none;
  // }
}

//フォーム画面のタイトル
.form_title{
  text-align: center;
  margin-bottom: 15px;
}

//forgot password
.pwreset{
  text-align: center;
  margin: 1.5em;
}


// miscellaneous
.debug_dump {
  text-align: left;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 20px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    // display: block;
    margin-left: 10px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    // margin-left: 50px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}


/* sidebar */

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.users.follow {
  padding: 0;
}


/* image */
.user-img {
  border-radius: 50%;
  width:  200px;       /* ※縦横を同値に */
  height: 200px;       /* ※縦横を同値に */
  margin-bottom: 1em;
}

.sapli-img {
  width:  200px;       /* ※縦横を同値に */
  height: 200px;       /* ※縦横を同値に */
  margin-top: 1em;
  margin-bottom: 1em;
}

// supplement-index
.sapli-back{
  background: #f0f8ff;
  text-align: center;
  margin-bottom: 100px;
  padding-bottom: 15px;
  border: 1px solid;
  p{
    font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
    font-size: 18px;
    margin: 10px 0;
  }
}

.index_star{
  padding-top: 5px;
  padding-bottom: 5px;
}

//supplement-show
.sapli-back-show{
  background: #f0f8ff;
  text-align: center;
  margin-bottom: 2em;
  border: 1px solid;
  .btn{
    margin: 1em, 0, 2em;
  }
}

.sapli_title{
  font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
  font-weight: bold;
  font-size: 24px
}

#star{
  margin-bottom: 6px;
}

.sup_stats {
  // overflow: auto;
  margin-top: 0;
  padding: 5px 0 0 40px;
  text-align: right;
  li {
    list-style: none;
    float: left;
    padding: 0 10px;
    border-left: 1.5px solid $gray-light;
    // color: gray;
    &:first-child {
      padding-left: 50;
      border: 0;
    }
  }
  strong {
    font-size: 20px;
    display: block;
    margin: 0 auto;
  }
}



/* reviews */

.reviews {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .score{
    margin-left: 5px;
    margin-right: 5px;
  }
  .content {
    // display: block;
    margin-left: 10px;
    padding: 0.5em 0;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    // margin-left: 50px;
  }
}

//投稿のユーザ画像
.user_img_post {
  overflow: auto;
  margin-top: 10px;
  border-radius: 50%;
  width:  40px;       /* ※縦横を同値に */
  height: 40px;       /* ※縦横を同値に */
  margin-bottom: 1em;
}