<header class="navbar navbar-fixed-top navbar-inverse" style="background-color:#303030">
  <div class="container">
    <%= link_to image_tag("logo.png", alt: "sapliapli logo", width: "120px"), root_path, id: "logo" %>

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム",   root_path %></li>
        <li><%= link_to "新規登録", signup_path %></li>
        <li><%= link_to "ログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>